{% extends 'shopppCat/base.html' %}

{% block title %}
    Order #{{ object.pk }} details
{% endblock %}

{% block body %}
<h1>Order #{{ object.pk }}</h1>
            <p>Order by {% firstof object.user.first_name object.user.username  %}</p>
            <p> Deliv Addres: {{ object.delivery_address }}</p>
            <p> Promo: {{ object.promo_code }}</p>
        <ul>
            {% for product in object.products.all %}
                <li>{{ product.name }} for {{ product.price }}</li>
            {% endfor %}
        </ul>

    <div>
        <p>
          <a href="{% url 'shopppCat:order_update' pk=order.pk %}">edit</a>
        </p>
    </div>
    <div>
        <p>
          <a href="{% url 'shopppCat:order_delete' pk=order.pk %}">delete</a>
        </p>
    </div>
    <div>
        <a href="{% url 'shopppCat:order' %}">
            Back to list
        </a>
    </div>

{% endblock %}